@import "../../../styles/vars";

.todoItem {
  display: flex;
  align-items: center;
  padding: 10px 10px 10px 40px;
  border-top: 1px solid $border-light-color;

  &:hover {
    .todoItem__editBtn {
      visibility: visible;
    }

    .todoItem__controls {
      visibility: visible;
    }
  }

  &__editBtn {
    position: absolute;
    top: 50%;
    left: -27px;
    transform: translateY(-50%);
    visibility: hidden;
    display: block;
    width: 20px;
    height: 20px;
    background-color: #fff;
    border: none;
    cursor: pointer;
    transition: transform 0.1s;

    &:hover {
      transform: translateY(-50%) scale(1.15);
    }
  }

  &__editBtnIcon {
    width: 18px;
    height: 18px;
    fill: $primary-color;
  }

  &__titleCompleted {
    text-decoration: line-through;
    opacity: 0.5;
  }

  &__body {
    position: relative;
    width: 85%;
  }

  &__controls {
    margin-left: auto;
    visibility: hidden;
  }

  &__done {
    .todoItem__editBtn {
      display: none;
    }
  }

  &__edit {
    padding-right: 40px;
    pointer-events: all;

    .todoItem__body {
      width: 100%;
    }

    .todoItem__controls {
      display: none;
    }
  }

  &__btn {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    padding: 5px;
    border: none;
    outline: none;
    background-color: #fff;
    font-size: 1.1rem;
    font-weight: 700;
    cursor: pointer;
    transition: transform 0.1s;
  }

  &__btnIcon {
    width: 20px;
    height: 20px;
  }

  &__btnCheck {
    margin-right: 10px;

    &:hover {
      transform: scale(1.15);
    }

    .todoItem__btnIcon {
      fill: $success-color;
    }
  }

  &__btnRemove {
    &:hover {
      transform: scale(1.15);
    }

    .todoItem__btnIcon {
      fill: $danger-color;
    }
  }
}
