@import "../../styles/vars";
@import "../../styles/media";

.filter {
	display: flex;
	padding: 15px 20px;

	@include desktop {
		flex-direction: column;
	}

	@include mobile {
		padding: 10px;
	}

	&ByTitle {
		width: 65%;
		margin-right: 50px;

		@include desktop {
			width: 100%;
			margin-right: 0;
			margin-bottom: 20px;
		}

		&Label {
			display: inline-block;
			margin-bottom: 5px;
			font-size: 1.8rem;

			@include mobile {
				font-size: 1.6rem;
			}
		}

		&Input {
			display: block;
			width: 100%;
			padding: 8px 10px;
			border: 1px solid $border-color;
			border-radius: 3px;
			color: inherit;
			font-family: inherit;
			font-size: 1.6rem;

			@include mobile {
				font-size: 1.4rem;
			}

			&:focus {
				outline: none;
				border-color: $primary-color;
			}
		}
	}

	&ByStatus {
		display: flex;
		flex-direction: column;
		justify-content: space-between;

		&Heading {
			font-size: 1.8rem;
			font-weight: 400;

			@include mobile {
				font-size: 1.6rem;
			}
		}

		&Inputs {
			padding: 10px 0;
		}

		&Item {
			margin-right: 30px;

			&:last-of-type {
				margin-right: 0;
			}
		}
	}
}
