@import "../../styles/vars";

.filter {
  display: flex;
  padding: 15px 20px;

  &__byTitle {
    width: 70%;
    margin-right: 50px;

    &__label {
      display: inline-block;
      margin-bottom: 5px;
    }

    &__input {
      display: block;
      width: 100%;
      padding: 8px 10px;
      border: 1px solid $border-color;
      border-radius: 3px;
      color: inherit;
      font-family: inherit;
      font-size: 1.6rem;

      &:focus {
        outline: none;
        border-color: $primary-color;
      }
    }
  }

  &__byStatus {
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    &__heading {
      font-size: 1.6rem;
      font-weight: 400;
    }

    &__inputs {
      padding: 10px 0;
    }

    &__item {
      margin-right: 30px;

      &:last-of-type {
        margin-right: 0;
      }
    }
  }
}
