@import "../../styles/vars";

.todosList {
  &__element {
    list-style: none;

    &__noPointers {
      pointer-events: none;
    }
  }

  &__placeholder {
    padding: 20px;
    border-top: 1px solid $border-light-color;
    text-align: center;
    font-size: 3.2rem;
  }
}
