@import "../../styles/vars";
@import "../../styles/media";

.todosList {
	&Element {
		list-style: none;

		&NoPointers {
			pointer-events: none;
		}
	}

	&Placeholder {
		padding: 20px;
		border-top: 1px solid $border-light-color;
		text-align: center;
		font-size: 3.2rem;
	}
}
