@import "../../styles/vars";
@import "../../styles/media";

.header {
	display: flex;
	align-items: flex-end;
	justify-content: space-between;
	padding: 15px 20px;

	@include mobile {
		align-items: flex-start;
	}

	&Title {
		color: $primary-color;

		@include mobile {
			font-size: 2.4rem;
		}
	}

	&Info {
		display: flex;

		@include mobile {
			flex-direction: column;
		}
	}

	&InfoItem {
		&:first-child {
			margin-right: 30px;
		}

		@include mobile {
			display: flex;
			justify-content: space-between;

			&:first-child {
				margin-right: 0;
				margin-bottom: 10px;
			}
		}
	}

	&Value {
		color: $primary-color;

		@include mobile {
			margin-left: 10px;
		}
	}
}
