@import "../../../../styles/vars";

.todoItemTitle {
  &__btn {
    position: absolute;
    top: 50%;
    left: -27px;
    transform: translateY(-50%);
    visibility: hidden;
    display: block;
    width: 20px;
    height: 20px;
    background-color: #fff;
    border: none;
    cursor: pointer;
    transition: transform 0.1s;

    &:hover {
      transform: translateY(-50%) scale(1.15);
    }
  }

  &__btnIcon {
    width: 18px;
    height: 18px;
    fill: $primary-color;
  }
}
