@import "../../styles/vars";
@import "../../styles/media";

.addTodo {
	padding: 15px 20px;

	@include mobile {
		padding: 10px;
	}

	&Form {
		display: flex;
		align-items: flex-end;

		&Invalid {
			.addTodoInput {
				border-color: $danger-color;

				&::placeholder {
					color: $danger-color;
					font-size: 1.4rem;
				}
			}
		}
	}

	&FormControl {
		width: 100%;
		margin-right: 20px;

		@include mobile {
			margin-right: 10px;
		}
	}

	&Label {
		display: inline-block;
		margin-bottom: 5px;
		font-size: 1.8rem;

		@include mobile {
			font-size: 1.6rem;
		}
	}

	&Input {
		width: 100%;
		padding: 8px 10px;
		border: 1px solid $border-color;
		border-radius: 3px;
		color: inherit;
		font-family: inherit;
		font-size: 1.6rem;

		@include mobile {
			padding: 4px 6px;
			font-size: 1.4rem;
		}

		&:focus {
			outline: none;
			border-color: $primary-color;
		}
	}

	&Btn {
		border: none;
		outline: none;
		background-color: #fff;
		cursor: pointer;
		transition: transform 0.2s;

		&:hover {
			transform: scale(1.15);

			@include tablet {
				transform: none;
			}
		}

		&:disabled {
			opacity: 0.5;
			cursor: default;

			.addTodoBtnIcon {
				fill: $danger-color;
			}
		}
	}

	&BtnIcon {
		width: 30px;
		height: 30px;
		fill: $primary-color;

		@include mobile {
			width: 20px;
			height: 20px;
		}
	}
}
